@tailwind base;
  @tailwind components;
  @tailwind utilities;
  

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 322.2 84% 4.9%;
      --card: 0 0% 100%;
      --card-foreground: 322.2 84% 4.9%;
      --popover: 0 0% 100%;
      --popover-foreground: 322.2 84% 4.9%;
      --primary: 321.2 83.2% 53.3%;
      --primary-foreground: 310 40% 98%;
      --secondary: 310 40% 96.1%;
      --secondary-foreground: 322.2 47.4% 11.2%;
      --muted: 310 40% 96.1%;
      --muted-foreground: 315.4 16.3% 46.9%;
      --accent: 310 40% 96.1%;
      --accent-foreground: 322.2 47.4% 11.2%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 310 40% 98%;
      --border: 314.3 31.8% 91.4%;
      --input: 314.3 31.8% 91.4%;
      --ring: 321.2 83.2% 53.3%;
      --radius: 0.5rem;
    }
    .dark {
      --background: 322.2 84% 4.9%;
      --foreground: 310 40% 98%;
      --card: 322.2 84% 4.9%;
      --card-foreground: 310 40% 98%;
      --popover: 322.2 84% 4.9%;
      --popover-foreground: 310 40% 98%;
      --primary: 317.2 91.2% 59.8%;
      --primary-foreground: 322.2 47.4% 11.2%;
      --secondary: 317.2 32.6% 17.5%;
      --secondary-foreground: 310 40% 98%;
      --muted: 317.2 32.6% 17.5%;
      --muted-foreground: 315 20.2% 65.1%;
      --accent: 317.2 32.6% 17.5%;
      --accent-foreground: 310 40% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 310 40% 98%;
      --border: 317.2 32.6% 17.5%;
      --input: 317.2 32.6% 17.5%;
      --ring: 324.3 76.3% 48%;
    }
  }
  
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
      position: relative;
    }
    .desc1 {
      @apply relative z-10 bg-white p-4;
    }
    .retro-grid {
      @apply absolute top-1/2 left-0 w-full h-full z-0;
      transform: translateY(-50%);
    }
  }